* {
    box-sizing: border-box;
}

.wrapper {
    width: 500px;
    margin: 0 auto;
}

.containers {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.wrapper > p {
    text-align: center;
    padding-bottom: 
}